{% load static %}


              <!-- JavaScript Libraries -->
              <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
              <script src="{% static 'lib/easing/easing.min.js'%}"></script>
              <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
      
              {% comment %} <!-- Contact Javascript File -->
              <script src="mail/jqBootstrapValidation.min.js"></script>
              <script src="mail/contact.js"></script>

              <!-- Template Javascript -->
              <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
        <script>

            (function ($) {
                "use strict";
                
                // Dropdown on mouse hover
                $(document).ready(function () {
                    function toggleNavbarMethod() {
                        if ($(window).width() > 992) {
                            $('.navbar .dropdown').on('mouseover', function () {
                                $('.dropdown-toggle', this).trigger('click');
                            }).on('mouseout', function () {
                                $('.dropdown-toggle', this).trigger('click').blur();
                            });
                        } else {
                            $('.navbar .dropdown').off('mouseover').off('mouseout');
                        }
                    }
                    toggleNavbarMethod();
                    $(window).resize(toggleNavbarMethod);
                });
                
                
                // Skills
                $('.skills').waypoint(function () {
                    $('.progress .progress-bar').each(function () {
                        $(this).css("width", $(this).attr("aria-valuenow") + '%');
                    });
                }, {offset: '80%'});
                
                
                // Back to top button
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $('.back-to-top').fadeIn('slow');
                    } else {
                        $('.back-to-top').fadeOut('slow');
                    }
                });
                $('.back-to-top').click(function () {
                    $('html, body').animate({scrollTop: 0}, 1500, 'easeInOutExpo');
                    return false;
                });
            })(jQuery);
            
            
        </script>

